@font-face {
    font-family: '8-bit-bold';
    src: url('fonts/8-bit/pixeloidsansbold-gojpp-webfont.woff2') format('woff2'),
        url('fonts/8-bit/pixeloidsansbold-gojpp-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon';
    src: url('fonts/BrandonGrotesque-Black.woff2') format('woff2'),
        url('fonts/BrandonGrotesque-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    /* font-family:  monospace; */
    background: #1a1a1d;
    color: whitesmoke;
}

.heading{
    margin: auto;
}

h1{
    font-size: 5rem;
    text-align: center;
    color: white;
    font-family:'8-bit-bold';
    font-weight: 1000;
}

h3{
    font-family:'8-bit-bold' ;
    text-align: end;
    font-size: 2rem;
}

.container{
    padding: 15px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 750px;
    border: 1rem solid white;
}

p {
    font-family:'Courier New', Courier, monospace;
    /* color: #333; */
    font-size: 1.65rem;
    font-weight: 550;
    color: whitesmoke;
    text-align: center;
}


.playerBox{
    width: 800px;
    height: 450px;
    align-content: center;
    margin:  auto;
    border: 1rem solid white ;
    /* border-radius:50px; */
    overflow: hidden;
    z-index: 1;
}

.end{
    text-align: end;
    font-family: '8-bit-bold';
}
